*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color:#011f4b;
}

ul {
    list-style-type: none;
}

main{
    padding-top: 3rem;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

main section {
    background-color: #f1f1f1;;
    padding: 1.5rem 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
}

input#password-input{
    width: 100%;
    padding: 1rem;
    border: 1px solid #005b96;
    border-radius: 12px;
    margin-bottom: 1rem;
    caret-color: #005b96;
}

.requirements {
    margin-bottom: 2rem;
}

.requirements li {
    color: rgb(66, 63, 63);
}

.requirements li::before{
    content: '\2717';
    margin-right: .4rem;
}

li.checked {
    color: green;
}

li.checked::before{
    content: '\2713';
    margin-right: .4rem;
}

.bar {
    width: 100%;
    height: 25px;
    border: 1px solid #011f4b;
    border-radius: 12px;
    background-color: white;
}

.progress-bar {
    height: 100%;
    border-radius: 12px;
}

.w-25 {
    width: 25%;
    background-color: #ef4546;
}

.w-50 {
    width: 50%;
    background-color: #f9d62e;
}

.w-75 {
    width: 75%;
    background-color: #fc913a;
}

.w-100 {
    width: 100%;
    background-color: #7bc043;
}